VITE_TELEGRAM_BOT_USERNAME=crash_gamee_bot
VITE_PUBLIC_APP_URL=https://your-public-miniapp-url.example.com
TELEGRAM_BOT_TOKEN=replace-with-bot-token
MINI_APP_URL=https://your-public-miniapp-url.example.com
PUBLIC_BASE_URL=https://your-public-miniapp-url.example.com
TELEGRAM_MENU_TEXT=Open Signal
META_PIXEL_ID=864795576681611
META_PIXEL_TOKEN=EAAnjotNw0hcBRrvQ7DcJiJN0O4kr9LAM0Vy7678LZBO3lZCZBze8oauPc9rne5QF9a8kbQ5drldOa0Fn1FJB11IliUetFfFKirUvHRUfQCR8Dx9HANbljq2KxMYKErOP8HuwKveLNyXO6684yDmN6nSpcA61Q4kpnZAPksLdymtAZCNLpKERhYp5Bfj3f2QZDZD
META_TEST_EVENT_CODE=TEST46137
